<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <logging>
        <junit outputFile="reports/junit.xml"/>
    </logging>
    <php>
        <env name="DB_HOST" value="db"/>
        <env name="DB_NAME" value="test"/>
        <env name="DB_PASSWORD" value="password"/>
        <env name="DB_USER" value="user"/>
    </php>
</phpunit>